/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000316}}
a {
  color: #f0b648;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000320}}
body {
  margin: 0;
  padding: 0;
  background: url("../images/ib-bg.jpg") 50% 0 fixed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000326}}
#content, .region-sidebar-second {
  background: url("../images/black-semi.png");
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000331}}
#content table {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000335}}
#page #content {
  margin-top: 1.6em;
  width: 73%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000340}}
#main .region-sidebar-second {
  max-width: 300px;
  width: 25%;
  margin-top: -3em;
  margin-left: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000347}}
#navigation {
  background: url("../images/white-semi.png");
  width: 73%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000357}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000361}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000378}}
#logo {
  /* Wrapping link for logo */
  padding: 0 0 1em 0.7em;
  margin: 0;
  display: block;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000384}}
#logo img {
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000388}}
#logo :hover {
  opacity: 0.8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000393}}
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\0000397}}
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003103}}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003109}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003114}}
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003119}}
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003140}}
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003141}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003145}}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003158}}
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003162}}
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003166}}
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003170}}
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003173}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003179}}
div.status {
  /* Normal priority messages */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003183}}
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003188}}
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003191}}
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003195}}
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003199}}
.tabs {
  /* See also the tabs.css file. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003202}}
.region-help {
  /* Help text on a page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003205}}
.more-help-link {
  /* Link to more help */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003208}}
.region-content {
  /* Wrapper for the actual page content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003211}}
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003215}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003221}}
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003225}}
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003228}}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003233}}
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003236}}
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7\.17\/sites\/ib\.lab273\.com\/themes\/ib\/sass\/pages\.scss}line{font-family:\00003270}}
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
